<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-list>
        <ion-button [routerLink]="['../lista-colaborativa']" expand="block">lista de Coperativas</ion-button>
        <ion-button [routerLink]="['../mapa']" expand="block">Mapa</ion-button>
        <ion-button [routerLink]="['../login']" expand="block">Login</ion-button>
      </ion-list>
    </ion-list>
</ion-content>
