<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button (click)="login()" expand="block">Ingresar</ion-button>
      <p class="error">
        {{errorMessage}}
      </p>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button (click)="logout()" expand="block">Logout</ion-button>
      <ion-button [routerLink] ="['/registro']" expand="block">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>